body{
    padding: 0;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
    
}

html *{
    font-family: 'Roboto', sans-serif !important;
}

.header{
    background-color: #202020;
    height: 50px;
    color: white;
}

.header img{
    height: 50px;
}

.header input[type=button], input[type=submit]{
    color: white;
    border: 1px solid white;
    transition: 0.5s;
    height: 35px;
}

input{
    border: none;
}

.header input[type=button]:hover, input[type=submit]:hover{
    color: blue;
    border: 1px solid blue;
}

.after-header{
    margin-bottom: 20px;
    background-color: #202020;
    padding: 10px;
}

.footer{
    background-color: #202020;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.login_nav{
    float: right;
    margin-top: 6px;
}

.login_nav img{
    height: 35px;
    color: white;
}

.login_nav a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.login_nav a:hover{
    text-decoration: none;
    color: red;
}

.login_nav input[type=text], input[type=password]{
    border-radius: 3px;
    border: none;
    padding-left: 5px;
    height: 35px;
}

.login_nav input[type=text]:focus, input[type=password]:focus{
    outline: none;
}

.login_nav input[type=text]::placeholder, input[type=password]::placeholder{
    color: rgb(224, 224, 224);
}


.container{
    padding: 0 !important;
}

.box{
    padding: 10px;
    transition: 0.5s;
}

.box .pprice, .box .pname{
    transition: 0.5s;
}

.box .pname{
    font-weight: bold;
}

.box img{
    width: 100%;
    margin-bottom: 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.box:hover{
    cursor: pointer;
}

.box:hover img{
    transform: scale(1.05);
    border: 3px solid rgb(72, 255, 255);
}

.box:hover .pname{
    color: red;
}

.box:hover .pprice{
    color: white;
}

.box a{
    text-decoration: none;
    color: black;
}

.box a:hover{
    text-decoration: none;
}

h2{
    
    width: 45px;
    height: 40px;
    position: relative;
    background: #202020;
    color:  white;
    transition: 0.5s;
    cursor: pointer;
    font-size: 0px !important;
    background-color:  rgb(91, 91, 248);
}

h2 img{
    height: 40px;
    margin-right: 5px;
}

h2:hover{
    width: 300px;
    font-size: 20px !important;
}

h2:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid rgb(91, 91, 248);
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    overflow: unset;
}

.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10{
    padding: 0 !important;
}

.sidebar a{
    text-decoration: none;
    color: white;
}

.sidebar a:hover{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.sidebar dt{
    color: rgb(91, 91, 248);
    font-size: 20px;
}

.sidebar a:hover{
    color: red;
}

.chitietright, .mota{
    color: white;
}

.chitietright .data, .factory{
    color: wheat;
}

.chitietright .name{
    font-size: 30px;
    color: rgb(161, 67, 216);
}

.chitietright .price{
    color: red; 
}

.chitietleft img{
    float: right;
    border-radius: 5px;
    transition: 0.5s;
}

.chitietleft img:hover{
    transform: scale(1.1);
    border: 3px solid rgb(72, 255, 255);
}

h3{
    color: white;
}

.frm-dangki{
    text-align: center;
    color: wheat;
    width: 400px; 
    height: 600px;
}

.frm-dangki .label{
    float: left;
}

.frm-dangki input{
    float: right;
    display: inline;
    width: 250px;
    border-radius: 5px;
}

.frm-dangki .err{
    color: red;
    float: right;
    font-size: 15px;
}

.group{
    height: 20px;
}

.quanlygiohang{
    color: white;
}

.quanlygiohang table{
    border: 1px solid white;
    padding: 10px !important;
}

.quanlygiohang tr{
    color: violet;
}

.quanlygiohang td{
    color: white;
}

.quanlygiohang form{
    padding: 10px;
}

.quanlygiohang input{
    border-radius: 5px;
    padding-left: 7px;
}

th, td{
    padding: 10px;
}

.pprice{
    color: rgb(233, 70, 70);
    margin: 5px 0px;
}

table{
    width: 100%;
}

/* body{
    font-family: tahoma, helvetica, arial, sans-serif;
    font-size: 10px;
    background: url(../img/page_bg.gif);
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
#wrapper{
    margin: auto;
    text-align: left;
    width: 800px;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    margin-bottom: 10px;
    background: #FFF;
    color: #000; 
}
#header{
    background: url(../img/header_bg.gif) repeat-x;
    padding: 9px;
}

#sidebar{
    width: 195px;
    margin: 0px;
    padding: 0px;
    background: #FFF;
    border-bottom: 2px solid #FFF;
    float: left;
    margin-bottom: 10px;
}

#content{
    width: 543px;
    margin: 2px 1px 10px 0px;
    border: 2px solid #E5E5E5;
    float: right;
    min-height: 50px;
}

#footer{
    clear: both;
    background: #C80000 url(../img/footer_bg.gif) repeat-x;
    padding: 8px 8px 5px 8px;
    text-align: center;
    border-bottom: 2px solid #FFF;
    font-weight: bold;
    color: #FFF;
}

#login_nav{
    color: #FFF;
    font-weight:bold;
    text-decoration: none;
    position: absolute;
    width: 550px;
    margin-left: 225px;
    margin-top: -40px;
    text-align: right;
}

#sidebar dl dt{
    background: #C80000 url(../img/dt_bg.gif);
    color: #FFF;
    margin: 2px 2px 1px 2px;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
}
#sidebar dl{
    margin: 0px;
    padding: 0px;
} 
#sidebar dl dd{
    background: #227293;
    border-bottom: 1px solid #659DB4;
    margin: 0px 2px;
    padding: 0px;
}
#sidebar dl dd a{
    color: #FFF;
    font-weight: bold;
    padding: 3px 22px;
    display: block;
}
#headerImg2 img{
    position: absolute;

    margin-bottom: 0;
    margin-top: -3px;
}
#sidebar dl dd a:hover{
    background: #74B7A7;
}

#content h2{
    font: bold 30px arial;
    color: #39F;
    padding-left: 20px;
}
.box{
    margin: 5px;
    float: left;
    width: 250px;
    text-align: center;
}
.box:nth-child(even){
    border-top:5px solid rgb(156, 211, 165);
    margin-right: 15px;
}
.box:nth-child(odd){
    border-top: 5px solid rgb(119, 184, 219);
    margin-left: 15px;
}
.box img{
    width: 230px;
    height: 150px;
}
.pname{
    font: bold  14px arial;
    color: #F39;
    margin-top: 5px;
}
.pprice{
    font: bold 12px arial;
    color: #F30;
}
.action{
    font: italic bold 10px arial;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #F96;
    text-align: right;
}

#chitietsp{
    padding: 10px 10px 10px 10px;
    min-height: 220px;
}
#chitietleft{
    float: left;
    margin-bottom: 10px;
}
#chitietleft img{
    width: 200px;
    height: 150px;
}
#chitietright{
    float: right;
    width: 300px;
    margin-left:10px;
    margin-bottom:10x;
}
#mota{
    clear:both;
    font-style: italic;
    font-size: 12px;
}
.label{
    width: 100px;
    text-align:right;
    font-size: 13px;
    display: inline-block;
    margin-right: 5px;
}
.data{
    font-size: 14px;
    font-weight: bold;
    color:#666;
}
.productname{
    font-size: 18px;
    font-weight: bold;
    color: #F69;
}
.price{
    font-size: 18px;
    font-weight: bold;
    color: #f93;
}
.factory{
    font-size: 16px;
    font-weight: bold;
    color: #3c6;
}
.giohang{
    text-align: center;
}

#quanlygiohang{
    padding: 5px 5px 5px 5px;
    text-align: center;
}
#quanlygiohang h1{
    color: #F63;
    font-weight: bold;
}
#quanlygiohang table{
    border: 1px solid #369;
    width: 530px;
    padding: 0;
    border-spacing: 0px;
    text-align: left;
}
#quanlygiohang table tr td, #quanlygiohang table tr th{
    border: 1px solid #369;
    margin: 0;
    padding: 5px;
}
#quanlygiohang table tr th{
    text-align: center;
} */
